/* Main Stylesheet */

h1 {
	text-align: center;
	color: #ebebeb;
	font-size: 60px;
	margin-top: 5px;
	margin-bottom: 8px;
	font-family: 'Lato', Arial, sans-serif;
}

#boo {
	font-weight: bold;
	opacity: .3;
}

#header {
	width: 100%;
	background-color: #a976ca;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 35px;
}

.container {
	width: 300px;
	margin: auto;
}

#file {
	opacity: 0;
	width: 80px;
}

#upload-button {
	background-color: #a976ca;
	width: 80px;
	margin: auto;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border: 2px solid #b78dd2;
}

#upload-button:hover {
	background-color:#a976ca;
	border-color: #cdace2;
}

#upload-button:active {
	position:relative;
	top:1px;
}

#submit {
	display: none;
}

label {
	display: none;
}

.php {
	display: none;
}

#footer {
	width: 100%;
	background-color: #353535;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 10px;
}

#footer p {
	font-family: 'Lato', Arial, sans-serif;
	text-align: center;
	color: #686868;
}

@media screen and (min-width: 750px) {
	h1 {
		font-size: 100px;
	}
	#file {
		width: 120px;
		height: 30px;
	}
	#upload-button {
		width: 120px;
	}
}














