/* Main Stylesheet */

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #2d2d2d;
}

#container {
	height: 100%;
	position: relative;
}

#header {
	position: relative;
	width: 100%;
	height: 15px;
	background-color: #a976ca;
	margin: 0;
	padding-top: 0px;
	padding-bottom: 25px;
}

#content {
	position: relative;
	height: 90%;
	width: 90%;
	padding: 10px;
	padding-top: 1em;
	padding-bottom: 60px;
	margin-top: auto;
	margin: auto;
	background: #2d2d2d;
    overflow-y: scroll;
}

#content::-webkit-scrollbar {
	display: none;
}

/*

Desktop scrollbar
#content::-webkit-scrollbar{
	width: 1em;
}

#content::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}


#content::-webkit-scrollbar-thumb{
	background-color: darkgrey;
	outline: 1px solid slategrey; 
}
*/

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #2d2d2d;
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow-y: scroll; 
}

h1 {
	text-align: center;
	color: #ebebeb;
	font-size: 28px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: 'Lato', Arial, sans-serif;
}

#boo {
	font-weight: bold;
	opacity: .3;
}

.formContainer {
	width: 300px;
	margin: auto;
}

#file {
	opacity: 0;
	width: 80px;
}

#upload-button {
	background-color: #a976ca;
	width: 80px;
	margin: auto;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border: 2px solid #b78dd2;
}

#upload-button:hover {
	background-color:#a976ca;
	border-color: #cdace2;
}

#upload-button:active {
	position:relative;
	top:1px;
}

#submit {
	display: none;
}

label {
	display: none;
}

.php {
	display: none;
}

#footer p {
	font-family: 'Lato', Arial, sans-serif;
	text-align: center;
	color: #686868;
}

/*
@media screen and (min-width: 750px) {
	h1 {
		font-size: 100px;
	}
	#file {
		width: 120px;
		height: 30px;
	}
	#upload-button {
		width: 120px;
	}
}
*/

img {
	display: block;
	margin: auto;
	margin-top: 10px;
	max-width: 90%;
	max-height: 90%;
}

#uploadDiv{
	position: absolute;
	top: 0px;
	width: 50%;
	height: 50%;
	background: red;
}
